.App {
    text-align: center;
  }
  
  
  .link {
    color: white;
    text-decoration: none;
  }

  .mainMobiledrop{
    display: none;
  }
  
  .dropdownContainer{
    display: none;
  }
  
  
  
  /* .active-link {
    color: #57A6EA;
  }
  
  .inactive-link {
    color: white;
  } */

  /* .active-link {
   
    font-weight: bold;
    
    color: #57A6EA;
    text-decoration: underline;
} */
  
  
  .sub-link {
    display: block;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: normal;
    transition: color 0.3s;
  }
  
  .sub-link:hover {
    color: green;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 2rem;
    cursor: pointer;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  
    .link {
      /* color: white; */
      font-weight: bolder;
      text-decoration: none;
      margin: 0 10px;
    }
  
    /* .link:hover {
      color: green;
    } */
  }
  
  .right-corner {
    display: flex;
    align-items: center;
  
    
    .search {
      input[type="text"] {
        padding: 5px;
        border: none;
        border-radius: 3px;
        margin-right: 10px;
      }
    }
  
    
    .cart,
    .profile {
      margin: 0 10px;
      cursor: pointer;
    }
  }
  
  .logo-icon{
    color: #FF4252;
  }
  
  .logo-text{
    margin-left: 5px;
  }
  
  /* .sub-menu {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 1em;
    left: 19em;
    width: 10%;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
  } */
  
  
  /* .sub-menu1 {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 1.5em;
    left: 0em;
    width: 100%;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    z-index: 1;
  } */
  
  /* .sub-menu li {
    list-style-type: none;
  }
  
  .sub-menu1 li {
    list-style-type: none;
  }
  
  
  .sub-menu a {
    color: black;
  }
  
  .sub-menu1 a {
    color: black;
  } */
  
  /* footer */
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
    /* flex-wrap: wrap; */
    width: 100%;
  }
  
  .footer-section {
    /* flex-basis: calc(33.33% - 20px); */
    padding: 0 20px;
    /* margin-bottom: 20px; */
  }
  
  .footer h3 {
    font-size: 1.2rem;
    /* margin-bottom: 10px; */
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }

  /* .footer ul {
    list-style: none;
    padding: 0;
  } */


  
  .footer a:hover {
    text-decoration: underline;
  }
  .travel{
    font-weight: bolder;
  }
  
  .textdeco{
    text-decoration: none;
    color: inherit; 
    cursor: pointer;
  }
  
  .policies{
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    border-top: 1px solid grey;
  }
  .mainparentfooter{
    display: flex;
    flex-direction: column;
  }
  
  .footer-section.quick-links {
    display: flex;
    flex-direction: row;
  }
  
  .dividelinks {
    display: flex;
    flex-direction: column;
    margin-right: 20px; 
  }
  
  .mainquicklinks{
    text-align: center;
  }
  
  .outertext1{
    display: none;
  }
  .icons{
    height: 15px;
    width: 30px;
    cursor: pointer;
  }
  .youtube{
    color: red;
  }
  
  .twitter{
    color: rgb(39, 148, 202);
  }
  
  .facebook{
    color: rgb(39, 148, 202);
  }
   .instagram{
    color: red;
   }
  
   .github{
    color: black;
   }
  
   /* shippingbox */
  
   .mainShippingBox{
    width: 75%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: small;
   }
  
   .shipping{
      width: 33%;
   }
  
   .refund{
    width: 33%;
   }
  
   .support{
    width: 33%;
   }
  
   .shippingSymbol{
    color: #FF4858;
    font-size: xx-large;
   }
  
   /* whitebox */
  
   .whitebox {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    margin-top: 3em;
  }
  
  .subWhiteBox {
    border: 1px solid black;
    /* width: calc(25% - 20px);  */
    width: 20%;
    padding: 10px;
    /* box-sizing: border-box; */
  }
  
  
  /* Slider */
  
  .sliderClass{
    height: 20em;
    width: 100%;
  }
  
  
  .slider-item {
    position: relative;
  
  }
  
  .custom-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .arrow-left,
  .arrow-right {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .arrow-left::before {
    content: '<';
  }
  
  .arrow-right::before {
    content: '>'; 
  }
  
  
  /* VideoPoster */
  

  
  .video-container {
    position: relative;
    width: 100%;
    max-width: 800px; 
    margin: auto;
  }
  
  iframe {
    width: 100%;
    height: 100%;
  }
  
  
  /* dynamic page */
  
  .dynamicProduct{
    display: flex;
  
    width: 75%;
    margin: auto;
    border: 1px solid black;
    justify-content: space-around;
  }
  

  .loadButton{
    margin-bottom: 2em;
  }


  
.poster {
  width: 100%; 
  height: 450px; 
  background-color: #f0f0f0; 
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
 
}

.poster0{
  background-image: url('https://www.fossil.com/on/demandware.static/-/Library-Sites-FossilSharedLibrary/default/dw713a0f16/2023/SU23/set_06122023_global_dgp_watches/0612_DGP_Watches_Hero1_desktop.jpg'); 
}


.poster2 {
  background-image: url('https://in.cmf.tech/cdn/shop/files/chargermore_1920x.png?v=1695698605'); 
}

.poster3 {
  background-image: url('https://www.asus.com/WebsitesBanner/IN/banners/lywrhakq921x9qpn/lywrhakq921x9qpn-0_0_desktop_0_1X.jpg?webp'); 
}

.poster4 {
  background-image: url('https://images.samsung.com/in/smartphones/galaxy-s23-ultra/buy/DM3-web-1.jpg'); 
}

.poster5 {
  background-image: url('https://freedesignfile.com/upload/2017/11/Special-offer-sale-poster-design-vector.jpg'); 
}
  
.page-header {
  background-color: #f0f0f0; /* Background color */
  padding: 20px; /* Adjust padding */
  text-align: center;
  border-bottom: 2px solid #ccc;
  margin-top: 0.5em; /* Bottom border */
}

.page-header h1 {
  margin: 0;
  font-size: 36px; /* Font size */
  color: #333; /* Text color */
  text-transform: uppercase; /* Uppercase text */
}

.searchbutton{
  padding: 0.2em;
  border-radius: 0.1em;
}
  

.loginout{
  text-decoration: none;
  color: white;
  background-color: #FF4252;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.loginbutton{
  margin-right: 2rem;
}

.registerbutton{
  text-decoration: none;
  color: white;
  background-color: cornflowerblue;
  border-radius: 0.2em;
  padding: 0.2em;
  margin: auto;
  
}

.registerbutton:hover {
  text-decoration: underline;
}

.regdiv{
  margin-top: 1em;
  /* margin-left: -10em; */
}

/* .inputsearch{
  width: 100%;
} */
  
button.paynow {
  width: 25%;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Your desired background color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.paynow:hover {
  background-color: #0056b3; /* Color change on hover */
}



/* Form container */
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  color: antiquewhite;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  background-image: url("https://t4.ftcdn.net/jpg/02/16/47/33/360_F_216473351_FCLq1pZQOBFrgcyPBphKvBd8Z5wjD1dI.jpg");
  overflow: hidden;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

/* Form labels */
label {
  font-weight: bold;
}

/* Form inputs */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Submit button */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.reglogback{
  background-image: url("https://t4.ftcdn.net/jpg/02/16/47/33/360_F_216473351_FCLq1pZQOBFrgcyPBphKvBd8Z5wjD1dI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 84.5vh;
  width: 100vw;
  
}

.formheading{
  color: white;
  /* margin-top: 1rem; */
}


@media only screen and (max-width: 650px) and (min-width: 200px) {


  .policies{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 98%;
    border-top: 1px solid grey;
  }
  .mainparentfooter{
    display: flex;
    flex-direction: column;
   
  }
  
  .footer-section.quick-links {
    display: flex;
    flex-direction: row;
  }
  
  .dividelinks {
    display: flex;
    flex-direction: column;
    margin-right: 20px; 
  }
  
  .mainquicklinks{
    text-align: center;
  }
  
  .footer {
    margin: auto;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-items: flex-start; */
    /* flex-wrap: wrap; */
    width: 98%;
  }

  .mainShippingBox{
    width: 75%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    margin: auto;
    font-size: small;
   }


   .shipping{
    width: 100%;
 }

 .refund{
  width: 100%;
 }

 .support{
  width: 100%;
 }

 .page-header {
  background-color: #f0f0f0; 
  padding: 15px; 
  width: 95%;
  text-align: center;
  border-bottom: 2px solid #ccc;
  margin-top: 0.5em; 
  margin: auto;
}

/* .mobile-menu {
  display: block; 
} */


.mobile-dropdown-menu {
  /* background-color: #333;  */
  background-color: #fff;
  padding: 10px; 
  margin: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1; 
  /* border: 1px solid black; */
  width: 95%;
  /* position: absolute;
  top: 2em;
  left: -5em;  */
  /* width: 90%; */
}

.mobile-menu-link {
  display: block;
  /* color: #fff;  */
  text-align: center;
  /* border: 1px solid red; */
  color: #333;
  font-weight: bolder;
  text-decoration: none;
  padding: 5px 0; 
  margin-bottom: 8px;
  width: 100%;
}


.mobile-menu-link:hover {
  background-color: whitesmoke; 
}


.menu-toggle-button {
  background-color: #007bff; 
  color: #fff; 
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px; 
  position: absolute;
  top: 1em;
  right: 1em;
  margin-left: 0.5em;
}

.poster {
  width: 100%; 
  /* height: 20%; */
  height: 190px; 
  background-color: #f0f0f0; 
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
 
}

.poster2{
  background-size: contain;
  background-repeat: no-repeat;
  /* background-size: 300px 200px;  */
}

/* .mainMobiledrop{
  display: none;
} */

}