#navbar-container {
    /* background-color: #252B48;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 99; */

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    color: white;
    /* width: 100%; */
    height: 4rem;
    /* padding: 10px 20px; */
}


.NavbarSearchP{
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1em; */
  background-color: #333;
  height: 2em;
  padding-top: 1em;
}
.NavbarSearch1{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

/* .NavbarLinks{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
} */


/* .active-link {
   
    font-weight: bold;
    
    color: #57A6EA;
    text-decoration: underline;
} */


/* #navbar-container>#icon {
    color: white;
    font-size: 2.5rem;
    padding: 0.4rem 1.8rem;
}

#navbar-container>#icon>#icon-in-div:hover {
    cursor: pointer;
} */

.NavbarSearch1>#hand-bag {
    position: absolute;
    top: 0.5rem;
    right: 2.6rem;
    color: white;
    font-size: 2rem;
}

.NavbarSearch1>#hand-bag:hover {
    cursor: pointer;
    color: #9d174d;
}

.NavbarSearch1>#number-of-products {
   

    position: absolute;
    top: 2rem;
    right: 1.6rem;
    color: white;
    font-size: 1.2rem;
}

.subroutes {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff; 
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 5.5em; 
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    z-index: 1;
  }
  
  .subroutes h4 {
    color: #57A6EA;
    
  }

  .h4tag{
    text-decoration: none;
  }
  
  .subroutes ul {
    list-style: none;
    padding: 0;
  }
  
  .subroutes ul li {
    margin-bottom: 10px;
  }
  
  .subroutes ul li a {
    color: #000; 
    text-decoration: none;
  }
  
  .subroutes ul li a:hover {
    text-decoration: underline;
  }

  .subroutes1 {
    
    background-color: #fff; 
    border: 1px solid #ccc;
    padding: 5px;
    position: absolute;
    top: 2.2em; 
    right: 22em;
    width: 7%;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    z-index: 1;
  }

  .subroutes1 ul {
    list-style: none;
    padding: 0;
  }
  
  .subroutes1 ul li {
    margin-bottom: 10px;
  }
  
  .subroutes1 ul li a {
    color: #000; 
    text-decoration: none;
  }
  
  .subroutes1 ul li a:hover {
    text-decoration: underline;
  }

  
  

@media (max-width: 320px) {

    #navbar-container>#number-of-products {
        right: 1.4rem;
    }
}